<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= item.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= item.author_id %>
  </p>

  <p>
    <strong>Bill:</strong>
    <%= item.bill_id %>
  </p>

</div>
